# 1. Identidad y Puerto del Gateway
server:
  port: 9000

spring:
  application:
    name: api-gateway

  # 2. Seguridad (Keycloak)
  security:
    oauth2:
      resourceserver:
        jwt:
          jwk-set-uri: "http://localhost:8088/realms/transporte-realm/protocol/openid-connect/certs"

  # 3. Configuración del Gateway
  cloud:
    gateway:
      routes:
        # ---- Ruta para ServicioCliente ----
        - id: servicio-cliente-route
          uri: lb://servicio-cliente
          predicates:
            - Path=/api/v1/clientes/**, /api/v1/seguimiento/**, /api/v1/clientes
          filters:
            - RewritePath=/api/v1/(?<segment>.*), /api/v1/$\{segment}

        # ---- Ruta para ServicioEnvios ----
        - id: servicio-envios-route
          uri: lb://servicio-envios
          predicates:
            - Path=/api/v1/envios/**, /api/v1/tramos/**, /api/v1/transportista/**, /api/v1/rutas/**, /api/v1/debug/**
          filters:
            - RewritePath=/api/v1/(?<segment>.*), /api/v1/$\{segment}

        # ---- Ruta para ServicioFlota ----
        - id: servicio-flota-route
          uri: lb://servicio-flota
          predicates:
            - Path=/api/v1/flota/**
          filters:
            - RewritePath=/api/v1/(?<segment>.*), /api/v1/$\{segment}

        # ---- Ruta para ServicioTarifa ----
        - id: servicio-tarifa-route
          uri: lb://servicio-tarifa
          predicates:
            - Path=/api/v1/tarifas/**
          filters:
            - RewritePath=/api/v1/(?<segment>.*), /api/v1/$\{segment}

        # ---- Rutas para Swagger UI ----
        - id: swagger-envios
          uri: lb://servicio-envios
          predicates:
            - Path=/servicio-envios/v3/api-docs, /servicio-envios/swagger-ui/**

        - id: swagger-clientes
          uri: lb://servicio-cliente
          predicates:
            - Path=/servicio-cliente/v3/api-docs, /servicio-cliente/swagger-ui/**

        - id: swagger-flota
          uri: lb://servicio-flota
          predicates:
            - Path=/servicio-flota/v3/api-docs, /servicio-flota/swagger-ui/**

        - id: swagger-tarifa
          uri: lb://servicio-tarifa
          predicates:
            - Path=/servicio-tarifa/v3/api-docs, /servicio-tarifa/swagger-ui/**

# 4. Configuración del Cliente Eureka
eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka/
  instance:
    prefer-ip-address: true
